<!-- <div id="addMusic">
    <form (submit)="getMusicForm()" >
        <h1>template driven form</h1>
        <h2>Enter song details to add</h2>
        Music name<input type="text" name="name" id="name" [(ngModel)]="music.name" 
        class="ng-untouched ng-pristine ng-valid" required #name="ngModel" /> 
        <div [hidden]="name.valid || name.pristine"
     class="alert">
        <br>
        Singer name<input type="text" name="singer" id="singer" [(ngModel)]="music.singer"
        class="ng-untouched ng-pristine ng-valid" required #singer="ngModel"/><br>
        Genre<input type="text" name="genre" id="genre" [(ngModel)]="music.genre"
        class="ng-untouched ng-pristine ng-valid" required #genre="ngModel"/><br>
        <input type="submit" value="Add">
    </form>
</div> -->