*{
    margin: 5px;
    padding: 5px;
}

body{
    background-color: #1a1a1d;
}
p{
    height: 30em;
}

img{
    height: 100px;
    width: 100px;
}
input{
    
    display: block;
     margin: auto;
}

table{
    width: 100%;
    background-color: #1f2833;
}

div button{
    border-radius: 10px;
    display: block;
    margin: auto;
}

td button{
    display: inline-block;
}

#pricing{
color: #45a29e;
}